script(src='/javascripts/lib/underscore.js/1.7.0/underscore-min.js')
script(src='/javascripts/lib/underscore.js/1.7.0/underscore-min.map')
script(src='/javascripts/lib/jquery/1.11.1/jquery.min.js')
script(src='/javascripts/lib/jquery/1.11.1/jquery.min.map')

script(src='/javascripts/lib/pollyfills.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/lib/enchant.js')