doctype html
html
  include ../includes/head.jade
    
  body

    header#header
      block header,

    #content
      block content

    #loading
      .text Loading...

    footer
      block footer
      