.entity {
  position: absolute;
  box-sizing: border-box;
}

.entity {
  .tile;

  &.player {
    background-image: url('../images/entities.png');
    background-position: 0 -@TILESIZE*2;
    width: @TILESIZE*2;
    height: @TILESIZE*2;
    margin-top:-@TILESIZE/2;
    margin-left:-@TILESIZE/2;

    &.n {
      background-position-x: -@TILESIZE*2;
    }
    &.s {
      background-position-x: 0; 
    }
    &.w {
      background-position-x: -@TILESIZE*4; 
    }
    &.e {
      background-position-x: -@TILESIZE*4;
      // temp: I need to change it to not use a flipped sprite, but a unique one
              transform: scaleX(-1);
         -moz-transform: scaleX(-1);        
      -webkit-transform: scaleX(-1);
    }
  }

  &.tree {
    background-color: transparent;
    background-image: url('../images/elements.png');

    &.large {
      background-position-x:0;
      background-position-y:-@TILESIZE*4;  
      width:  @TILESIZE*4;
      height: @TILESIZE*4;
      margin-left: -@TILESIZE*1.5;
      margin-top:  -@TILESIZE*3;
    }
    
    &.small {
      background-position-x:-@TILESIZE*4;
      background-position-y:-@TILESIZE*5;
      width:  @TILESIZE*2;
      height: @TILESIZE*3;
      margin-left: -@TILESIZE*0.5;
      margin-top:  -@TILESIZE*2;
    }
    &.bare {
      background-position-x:-@TILESIZE*6;
      background-position-y:-@TILESIZE*5;
      width:  @TILESIZE*1;
      height: @TILESIZE*3;
      margin-left: 0;
      margin-top:  -@TILESIZE*2;
    }
  }
  
}


