.entity {
  position: absolute;
  box-sizing: border-box;
}

.entity {
  .tile;

  &.tree {
    background-color: transparent;
    background-image: url('../images/elements.png');

    &.large {
      // background-position-x:0;
      // background-position-y:-@TILESIZE*4;  
      .background-pos(0, 4);
      width:  @TILESIZE*4;
      height: @TILESIZE*4;
      margin-left: -@TILESIZE*1.5;
      margin-top:  -@TILESIZE*3;
    }
    
    &.small {
      // background-position-x:-@TILESIZE*4;
      // background-position-y:-@TILESIZE*5;
      .background-pos(4, 5);
      width:  @TILESIZE*2;
      height: @TILESIZE*3;
      margin-left: -@TILESIZE*0.5;
      margin-top:  -@TILESIZE*2;
    }
    &.bare {
      // background-position-x:-@TILESIZE*6;
      // background-position-y:-@TILESIZE*5;
      .background-pos(6, 5);
      width:  @TILESIZE*1;
      height: @TILESIZE*3;
      margin-left: 0;
      margin-top:  -@TILESIZE*2;
    }
  }
  
}


