body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.center {
  margin: 0 auto;
}

.content-center {
  // width: 1024px;
  width: @DISPLAY_SIZE;
  .center;
}

body {
  // background-color: #babab8;
  // background-image: url('../images/background.png');
  // background-position: top center;
  // background-repeat: no-repeat;
}

body > #content {
  .content-center;
  position: relative;
  // height: 768px;
  height: @DISPLAY_SIZE;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    height: 0;
  }
  &:after {
    clear: both;
  }
}
